body{
    font-family: "Bitstream Charter";
    background-color: #05e70f;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#form-container{
    background-color: wheat;
    padding: 23px;
    border-radius: 8px;
    box-shadow: 0,0 10px rgba(0,0,0,0,1);
    margin: 10px;
}
.form-group{
    margin-bottom: 16px;
}
label{
    display: block;
    margin: 8px;
    font-weight: bold;
}
input[type="email"],
input[type="password"],
input[type="text"],
textarea,select{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid coral;
    border-radius: 6px;
}
textarea{
    height: 10px;
}
